.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min(90vh, 800px);
}

.hero h1 {
  font-family: var(--font-display);
  font-size: 4rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: var(--color-dark-grey);
}

.content h2 {
  font-family: var(--font-body);
  font-size: 2rem;
}
